<script>
 window.gameName = "<%= @y %>";
 window.playerName = "<%= @x %>";
</script>

<div class="row">
  <div class="column">
    <h1>game: <%= @y %></h1>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
