/* This file is for your main application css. */


@import "~milligram/dist/milligram";

.row > p {
    padding-top: 10ex;
    padding-left: 5ex;
    text-align: center;
}

.row > em {

   padding-top: 0ex;
   padding-left: 5ex; 
}

.column > p {
    padding-top: 10ex;
    text-align: center;
}


.enableClicks {
  
    pointer-events: auto;
    opacity: 1.0;
}


.disabledClicks {
    pointer-events: none;
    opacity: 0.5;
    background-color: lightgreen;
}





/*
.column {

    display: grid;
    grid-gap: 10px;
    grid-columns: 3px; 


}

.img {
	width : 100px;
}
*/
